# Node dependencies
node_modules/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist/
/build/

# OS files
.DS_Store
